/* Import Oswald from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url("https://use.typekit.net/okm0fpl.css");

:root {
    --bg-gray-1: #fafafa;
    --bg-gray-2: #f0f0f0;
    --bg-blue-dark: #1a1a1a;
    --bg-blue-light: #95befd;
    --p-blue-1: #303854;
    --p-blue-2: #0957a2;
    --p-green: #529651;
    --s-yellow: #E8A413;
    --s-blue: #79C1CC;
    --s-green-1: #9df19c;
    --t-blue: #0d1018;
    --t-green: #b6f5b5;
}

* {
    box-sizing: border-box;
}

/* Main */
main {
    padding: 1rem;
    height: auto;
    overflow: auto;
}

.font-dark {
    color: var(--p-blue-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: var(--p-blue-1);
}

.btn.btn-main {
    background-color: var(--p-blue-2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: var(--bg-gray-1);
    margin-left: 10px;
}

.btn.btn-main:hover {
    background-color: var(--bg-blue-light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: var(--p-blue-1);
    margin-left: 10px;
}

.btn.btn-blue {
    background-color: var(--p-green);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: var(--p-blue-1);
    margin-left: 10px;
}

.btn.btn-blue:hover {
    background-color: #79c1cca8;
}

/* Navbar */
.navbar {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 1.25rem;
    font-weight: 410;
    color: var(--p-blue-3);
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 1.25rem;
    font-weight: 410;
    color: var(--p-blue-1);
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

#cta-nav {
    background-color: #79c1cc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: var(--p-blue-1);
    margin-left: 10px;
}

#cta-nav:hover {
    background-color: #79c1cca8;
    color: var(--p-blue-1);
}

/* Landing Page */
.jumbotron {
    max-width: 100%;
    height: 100vh;
    min-height: 100%;
    margin-top: 50px;
    overflow: hidden;
}

#down {
    color: #303854;
}

#down:hover {
    color: #79c1cc;
}

#hero-text {
    margin-top: 40px;
}

h1.display-4 {
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 2.3rem;
    font-weight: 410;
    color: var(--p-blue-1);
    margin: 5px 15px;

}

p.lead {
    font-family: 'futura-pt', sans-serif;
    font-size: 1.25rem;
    color: var(--p-blue-1);
    font-weight: 400;
    margin: 0 15px;
}

.cta-button {
    font-family: 'futura-pt', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 1.4rem;
    border: none;
    margin: 10px 0;
}

/* Footer */
footer {
    font-family: 'futura-pt', sans-serif;
}

.footer-text {
    font-family: 'futura-pt', sans-serif;
    font-size: 1rem;
}

#footer-links a {
    font-family: 'futura-pt', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

a.footer-link {
    color: var(--p-blue-1);
}

#footer-cta {
    background-color: #79c1cca8;
    padding: 5px 10px;
}

@media only screen and (min-width: 600px) {
    .jumbotron {
        max-width: 100%;
        height: 100vh;
        min-height: 100%;
        margin-top: 30px;
    }

    h1.display-4 {
        font-size: 2.67rem;
        font-weight: 410;
        color: var(--p-blue-1);
        margin: 0 15px;
    }

}