/* Import Oswald from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url("https://use.typekit.net/okm0fpl.css");

:root {
    --bg-gray-1: #fafafa;
    --bg-gray-2: #f0f0f0;
    --p-blue-1: #303854;
    --p-yellow: #E8A413;
    --p-blue-3: #0d1018;
    --s-blue: #79C1CC;
    --s-green-1: #9df19c;
    --s-green-2: #b6f5b5;
}

* {
    box-sizing: border-box;
}

/* Global Styles */
main {
    padding: 1rem;
    height: auto;
    overflow: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;}

.font-dark {
    color: var(--p-blue-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: var(--p-blue-1);
}


p {
    font-family: 'futura-pt', sans-serif;
    font-size: 1.2rem;
}

.btn.btn-main {
    font-family: 'Oswald', sans-serif;
    background-color: #4b5887;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: var(--bg-gray-1);
    margin-left: 10px;
}

.btn.btn-main:hover {
    background-color: var(--p-blue-1);
    color: var(--bg-gray-1);

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}

/* .btn.btn-blue {
    background-color: #79c1cc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: var(--p-blue-1);
    margin-left: 10px;
}

.btn.btn-blue:hover {
    background-color: #79c1cca8;
} */

/* Navbar */
.navbar {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 1.50rem;
    font-weight: 450;
    padding: 15px;
    color: var(--p-blue-1);
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 1.50rem !important;
    font-weight: 450 !important;
    padding: 15px !important;
    color: var(--p-blue-1);
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

/* #cta-nav {
    background-color: #79c1cc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: var(--p-blue-1);
    margin-left: 10px;
}

#cta-nav:hover {
    background-color: #79c1cca8;
    color: var(--p-blue-1);
} */


/* Landing Page */
.landing-page {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    max-height: fit-content;
}

.jumbotron {
    max-width: 100%;
    height: 100vh;
    min-height: 100%;
    margin-top: 50px;
}

.mission-container {
    max-width: 100%;
    height: 100vh;
    min-height: 100%;
    margin-top: 50px;
}

p.mission-statement {
    margin: 20px 30px;
}

#down {
    color: #303854;
}

#down:hover {
    color: #79c1cc;
}

#hero-text {
    margin-top: 40px;
}

h1.display-4 {
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 2.3rem;
    font-weight: 410;
    color: var(--p-blue-1);
    margin: 5px 15px;

}

p.lead {
    font-family: 'futura-pt', sans-serif;
    font-size: 1.25rem;
    color: var(--p-blue-1);
    font-weight: 400;
    margin: 0 15px;
}

.cta-button {
    font-family: 'futura-pt', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 1.4rem;
    border: none;
    margin: 10px 0;
}

/* Quiz Page */

#sizeCompact:hover, #sizeMed:hover, #sizeSUV:hover {
    background-color: var(--bg-gray-1);
    box-shadow: 0px 0px 10px #cddbc2;
}


/* Footer */
footer {
    font-family: 'Oswald', sans-serif;
    background-color: #cddbc2;
    letter-spacing: 0.5px;
}

.footer-text {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    color: var(--p-blue-3);
    text-transform: uppercase;
}

#footer-links a {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

a.footer-link {
    color: var(--bg-gray-1);
}

#footer-cta {
    background-color: #4b5887;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: var(--bg-gray-1);    
    padding: 5px 15px;
    border-radius: 5px;
}

#footer-cta:hover {
    background-color: var(--p-blue-1);
    color: var(--bg-gray-1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}

a.link-secondary:hover {
    color: #4b5887;
}

@media only screen and (min-width: 600px) {
    .jumbotron {
        max-width: 100%;
        height: 100vh;
        min-height: 100%;
        margin-top: 8rem;
    }

    h1.display-4 {
        font-size: 2.67rem;
        font-weight: 410;
        color: var(--p-blue-1);
        margin: 0 15px;
    }

} 