/* Import Oswald from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url("https://use.typekit.net/okm0fpl.css");

:root {
    --bg-gray-1: #fafafa;
    --bg-gray-2: #f0f0f0;
    --p-blue-1: #303854;
    --p-green: #00b300;
    --p-yellow: #E8A413;
    --p-blue-3: #0d1018;
    --s-blue: #79C1CC;
    --s-green-1: #9df19c;
    --s-green-2: #b6f5b5;
    --t-green: #0c4b0c;
}

* {
    box-sizing: border-box;
}

/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: var(--p-blue-1);
    text-transform: uppercase;
}

p {
    font-family: 'futura-pt', sans-serif;
    font-size: 1.2rem;
}

i {
    color: #4b5887;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

i:hover {
    color: #79c1cc;
}

main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/*--------------- Custom Classes */
.font-dark {
    color: var(--p-blue-1);
}

.btn.btn-main {
    font-family: 'Oswald', sans-serif;
    background-color: #4b5887;
    color: var(--bg-gray-1);
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    box-shadow: 0px 0px 10px var(--p-blue-3);
}

.btn.btn-main:hover {
    background-color: var(--p-blue-1);
    color: var(--bg-gray-1);
    text-transform: uppercase;
    box-shadow: 0px 0px 10px var(--p-blue-3);
    margin-left: 10px;
}

.green-btn {
    font-family: 'Oswald', sans-serif;
    background-color: var(--p-blue-3);
    color: var(--bg-gray-1);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    box-shadow: 0px 0px 10px var(--p-blue-3);
}

.section-heading {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.text-green,
.btn-none {
    font-family: 'futura-pt', sans-serif;
    background-color: transparent;
    background: none;
    border: none;
    color: var(--p-green);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 600;
}

.text-blue {
    font-family: 'futura-pt', sans-serif;
    color: #4b5887;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
}

.text-bold {
    font-weight: 600;
    font-family: 'futura-pt', sans-serif;
}

/*-------------- Navbar */
.navbar {
    font-family: 'futura-pt', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.15rem;
    font-weight: 450;
    padding: 15px;
    color: var(--p-blue-1);
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 1.50rem !important;
    font-weight: 450 !important;
    padding: 15px !important;
    color: var(--p-blue-1);
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

/* Landing Page */
.landing-page {
    max-width: 100%;
    height: 100vh;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    max-height: fit-content;
}

.jumbotron {
    max-width: 100%;
    min-height: 100%;
    margin-top: 50px;
}

.mission-container {
    max-width: 100%;
    height: 100vh;
    min-height: 100%;
    margin-top: 50px;
}

p.mission-statement {
    margin: 20px 30px;
}

#down {
    color: #303854;
}

#down:hover {
    color: #79c1cc;
}

#hero-text {
    margin-top: 40px;
}

h1.display-4 {
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 2.3rem;
    font-weight: 410;
    color: var(--p-blue-1);
    margin: 5px 15px;

}

p.lead {
    font-family: 'futura-pt', sans-serif;
    font-size: 1.25rem;
    color: var(--p-blue-1);
    font-weight: 400;
    margin: 0 15px;
}

.cta-button {
    font-family: 'futura-pt', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 1.4rem;
    border: none;
    margin: 10px 0;
}

/* Quiz Page */
#sizeCompact:hover,
#sizeMed:hover,
#sizeSUV:hover {
    background-color: var(--bg-gray-1);
    box-shadow: 0px 0px 10px #cddbc2;
}

#modal-desc {
    font-size: 1rem;
    color: #4b5887;
}

.text-muted.text-small {
    font-family: 'futura-pt', sans-serif;

}
/* Footer */
footer {
    font-family: 'futura-pt', sans-serif;
    letter-spacing: 0.5px;
    background-color: var(--bg-gray-2);
    ;
    position: relative;
}

.footer-text {
    font-family: 'futura-pt', sans-serif;
    color: var(--p-blue-3);
    text-transform: uppercase;
}

#footer-links a {
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #0d1018;
}

a.link-secondary:hover {
    color: #4b5887;
}

/* Team page */

.card-body i {
    padding: 2px;
}

#team-card {
    border: 0;
    width: 10rem;
    margin-top: 25px;
}

#team-card img {
    border-radius: 5rem;
    width: 10rem;

}

#footer-copyright {
    font-family: 'futura-pt', sans-serif;
}

/*selected question border*/
.card-selected {
    box-shadow: 0 0 5px 5px #79c1cc;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .jumbotron {
        max-width: 100%;
        min-height: 100vh;
        margin: 0 auto;
    }
}